In [1]:
import sys
import time
sys.path.insert(0, '/home/anish/ASC_ML')

In [2]:
import pandas as pd
import dask.dataframe as dd
import time

In [3]:
from ASC_ML.preprocessing import dataset_container as dc
from ASC_ML.preprocessing import data_cleaning as data_cl
from ASC_ML.networkbuilding import multiple_model_gen_v3 as multiple
from ASC_ML.networkbuilding import dataframe_extractor as de
from ASC_ML.networkbuilding import model_generation as model_gen
from ASC_ML.networkbuilding import model_optimization as model_opt
from ASC_ML.networkbuilding import model_stacking
from ASC_ML.networkbuilding import final

2022-09-07 23:59:56.035364: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1

In [4]:
df = dd.read_csv("/home/anish/Downloads/autokeras-regression-master/Data.csv")

In [5]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [6]:
target_col = "sales"
X = df.loc[:, df.columns != target_col]
y = df.loc[:, target_col]

In [7]:
data_cl_obj = data_cl.DataCleaning(["sales"], df)

In [8]:
data_cl_obj.col_info

{'TV': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 190},
 'radio': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 167},
 'newspaper': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 172},
 'sales': {'dtype': dtype('float64'),
  'is_label': True,
  'missing': 0.0,
  'cardinality': 121}}

In [9]:
data_cl_obj.dataset.get()[0].shape[1]

4

In [10]:
X_columns = []
Y_columns = []
Y_cardinalities = []
for column_name in data_cl_obj.col_info:
    if data_cl_obj.col_info[column_name]["is_label"] == True:
        Y_columns.append(column_name)
        Y_cardinalities.append(data_cl_obj.col_info[column_name]["cardinality"])
    else:
        X_columns.append(column_name)

X = data_cl_obj.dataset.get()[0][X_columns]
Y = data_cl_obj.dataset.get()[0][Y_columns]

In [11]:
Y.head()

   sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [12]:
total = dd.concat([X,Y], axis = 1)

/home/anish/anaconda3/envs/tfgpu/lib/python3.9/site-packages/dask/dataframe/multi.py:1254: UserWarning: Concatenating dataframes with unknown divisions.
We're assuming that the indices of each dataframes are
 aligned. This assumption is not generally safe.
  warnings.warn(

In [13]:
total.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [14]:
data_cl_obj.dataset.get()[0].compute()

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [15]:
data_cl_obj.dataset.get()[0]["sales"].compute()

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

In [16]:
directory_train = "/home/anish/ASC-ML-EXP-DATASETS/LinReg-tabular/house-prices-advanced-regression-techniques/train.csv"
directory_test = "/home/anish/ASC-ML-EXP-DATASETS/LinReg-tabular/house-prices-advanced-regression-techniques/test.csv"
train_df = dd.read_csv(directory_train, assume_missing = True, sample_rows=1000)
test_df = dd.read_csv(directory_test, assume_missing = True, sample_rows=1000)

In [17]:
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1.0,60.0,RL,65.0,8450.0,Pave,NaN,Reg,Lvl,AllPub,...,0.0,NaN,NaN,NaN,0.0,2.0,2008.0,WD,Normal,208500.0
1,2.0,20.0,RL,80.0,9600.0,Pave,NaN,Reg,Lvl,AllPub,...,0.0,NaN,NaN,NaN,0.0,5.0,2007.0,WD,Normal,181500.0
2,3.0,60.0,RL,68.0,11250.0,Pave,NaN,IR1,Lvl,AllPub,...,0.0,NaN,NaN,NaN,0.0,9.0,2008.0,WD,Normal,223500.0
3,4.0,70.0,RL,60.0,9550.0,Pave,NaN,IR1,Lvl,AllPub,...,0.0,NaN,NaN,NaN,0.0,2.0,2006.0,WD,Abnorml,140000.0
4,5.0,60.0,RL,84.0,14260.0,Pave,NaN,IR1,Lvl,AllPub,...,0.0,NaN,NaN,NaN,0.0,12.0,2008.0,WD,Normal,250000.0

In [18]:
data_cl_obj = data_cl.DataCleaning(["SalePrice"], train_dataframe = train_df, test_dataframe = test_df)

In [19]:
data_cl_obj.col_info

{'Id': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 1460},
 'MSSubClass': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 15},
 'MSZoning': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 5},
 'LotFrontage': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.1773972602739726,
  'cardinality': 110},
 'LotArea': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 1073},
 'Street': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 2},
 'Alley': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.9376712328767123,
  'cardinality': 2},
 'LotShape': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 4},
 'LandContour': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 4},
 'Utilities': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 2},
 'LotConfig': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 5},
 'LandSlope': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 3},
 'Neighborhood': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 25},
 'Condition1': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 9},
 'Condition2': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 8},
 'BldgType': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 5},
 'HouseStyle': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 8},
 'OverallQual': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 10},
 'OverallCond': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 9},
 'YearBuilt': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 112},
 'YearRemodAdd': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 61},
 'RoofStyle': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 6},
 'RoofMatl': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 8},
 'Exterior1st': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 15},
 'Exterior2nd': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 16},
 'MasVnrType': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.005479452054794521,
  'cardinality': 4},
 'MasVnrArea': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.005479452054794521,
  'cardinality': 327},
 'ExterQual': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 4},
 'ExterCond': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 5},
 'Foundation': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 6},
 'BsmtQual': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.025342465753424658,
  'cardinality': 4},
 'BsmtCond': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.025342465753424658,
  'cardinality': 4},
 'BsmtExposure': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.026027397260273973,
  'cardinality': 4},
 'BsmtFinType1': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.025342465753424658,
  'cardinality': 6},
 'BsmtFinSF1': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 637},
 'BsmtFinType2': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.026027397260273973,
  'cardinality': 6},
 'BsmtFinSF2': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 144},
 'BsmtUnfSF': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 780},
 'TotalBsmtSF': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 721},
 'Heating': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 6},
 'HeatingQC': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 5},
 'CentralAir': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 2},
 'Electrical': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0006849315068493151,
  'cardinality': 5},
 '1stFlrSF': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 753},
 '2ndFlrSF': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 417},
 'LowQualFinSF': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 24},
 'GrLivArea': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 861},
 'BsmtFullBath': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 4},
 'BsmtHalfBath': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 3},
 'FullBath': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 4},
 'HalfBath': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 3},
 'BedroomAbvGr': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 8},
 'KitchenAbvGr': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 4},
 'KitchenQual': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 4},
 'TotRmsAbvGrd': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 12},
 'Functional': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 7},
 'Fireplaces': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 4},
 'FireplaceQu': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.4726027397260274,
  'cardinality': 5},
 'GarageType': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.05547945205479452,
  'cardinality': 6},
 'GarageYrBlt': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.05547945205479452,
  'cardinality': 97},
 'GarageFinish': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.05547945205479452,
  'cardinality': 3},
 'GarageCars': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 5},
 'GarageArea': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 441},
 'GarageQual': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.05547945205479452,
  'cardinality': 5},
 'GarageCond': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.05547945205479452,
  'cardinality': 5},
 'PavedDrive': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 3},
 'WoodDeckSF': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 274},
 'OpenPorchSF': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 202},
 'EnclosedPorch': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 120},
 '3SsnPorch': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 20},
 'ScreenPorch': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 76},
 'PoolArea': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 8},
 'PoolQC': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.9952054794520548,
  'cardinality': 3},
 'Fence': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.8075342465753425,
  'cardinality': 4},
 'MiscFeature': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.963013698630137,
  'cardinality': 4},
 'MiscVal': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 21},
 'MoSold': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 12},
 'YrSold': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 5},
 'SaleType': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 9},
 'SaleCondition': {'dtype': dtype('O'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 6},
 'SalePrice': {'dtype': dtype('float64'),
  'is_label': True,
  'missing': 0.0,
  'cardinality': 663}}

In [20]:
data_cl_obj.encode()

In [21]:
data_cl_obj.dataset.get()[0].compute()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1.0,60.0,0,65.0,8450.0,0,0,0,0,0,...,0.0,0,0,0,0.0,2.0,2008.0,0,0,208500.0
1,2.0,20.0,0,80.0,9600.0,0,0,0,0,0,...,0.0,0,0,0,0.0,5.0,2007.0,0,0,181500.0
2,3.0,60.0,0,68.0,11250.0,0,0,1,0,0,...,0.0,0,0,0,0.0,9.0,2008.0,0,0,223500.0
3,4.0,70.0,0,60.0,9550.0,0,0,1,0,0,...,0.0,0,0,0,0.0,2.0,2006.0,0,1,140000.0
4,5.0,60.0,0,84.0,14260.0,0,0,1,0,0,...,0.0,0,0,0,0.0,12.0,2008.0,0,0,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456.0,60.0,0,62.0,7917.0,0,0,0,0,0,...,0.0,0,0,0,0.0,8.0,2007.0,0,0,175000.0
1456,1457.0,20.0,0,85.0,13175.0,0,0,0,0,0,...,0.0,0,1,0,0.0,2.0,2010.0,0,0,210000.0
1457,1458.0,70.0,0,66.0,9042.0,0,0,0,0,0,...,0.0,0,3,1,2500.0,5.0,2010.0,0,0,266500.0
1458,1459.0,20.0,0,68.0,9717.0,0,0,0,0,0,...,0.0,0,0,0,0.0,4.0,2010.0,0,0,142125.0
1459,1460.0,20.0,0,75.0,9937.0,0,0,0,0,0,...,0.0,0,0,0,0.0,6.0,2008.0,0,0,147500.0

In [22]:
data_cl_obj.dataset.get(types = ["train"])[0].compute()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1.0,60.0,0,65.0,8450.0,0,0,0,0,0,...,0.0,0,0,0,0.0,2.0,2008.0,0,0,208500.0
1,2.0,20.0,0,80.0,9600.0,0,0,0,0,0,...,0.0,0,0,0,0.0,5.0,2007.0,0,0,181500.0
2,3.0,60.0,0,68.0,11250.0,0,0,1,0,0,...,0.0,0,0,0,0.0,9.0,2008.0,0,0,223500.0
3,4.0,70.0,0,60.0,9550.0,0,0,1,0,0,...,0.0,0,0,0,0.0,2.0,2006.0,0,1,140000.0
4,5.0,60.0,0,84.0,14260.0,0,0,1,0,0,...,0.0,0,0,0,0.0,12.0,2008.0,0,0,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456.0,60.0,0,62.0,7917.0,0,0,0,0,0,...,0.0,0,0,0,0.0,8.0,2007.0,0,0,175000.0
1456,1457.0,20.0,0,85.0,13175.0,0,0,0,0,0,...,0.0,0,1,0,0.0,2.0,2010.0,0,0,210000.0
1457,1458.0,70.0,0,66.0,9042.0,0,0,0,0,0,...,0.0,0,3,1,2500.0,5.0,2010.0,0,0,266500.0
1458,1459.0,20.0,0,68.0,9717.0,0,0,0,0,0,...,0.0,0,0,0,0.0,4.0,2010.0,0,0,142125.0
1459,1460.0,20.0,0,75.0,9937.0,0,0,0,0,0,...,0.0,0,0,0,0.0,6.0,2008.0,0,0,147500.0

In [23]:
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier

In [24]:
# X = data_cl_obj.dataset.get(types = ["train"])[0].compute()
X = data_cl_obj.dataset.get(types = ["train"])[0]
X = X.dropna().copy()
Y = X["SalePrice"]

In [25]:
X.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1.0,60.0,0,65.0,8450.0,0,0,0,0,0,...,0.0,0,0,0,0.0,2.0,2008.0,0,0,208500.0
1,2.0,20.0,0,80.0,9600.0,0,0,0,0,0,...,0.0,0,0,0,0.0,5.0,2007.0,0,0,181500.0
2,3.0,60.0,0,68.0,11250.0,0,0,1,0,0,...,0.0,0,0,0,0.0,9.0,2008.0,0,0,223500.0
3,4.0,70.0,0,60.0,9550.0,0,0,1,0,0,...,0.0,0,0,0,0.0,2.0,2006.0,0,1,140000.0
4,5.0,60.0,0,84.0,14260.0,0,0,1,0,0,...,0.0,0,0,0,0.0,12.0,2008.0,0,0,250000.0

In [26]:
type(X)

dask.dataframe.core.DataFrame

In [27]:
type(Y)

dask.dataframe.core.Series

In [28]:
# X = data_cl_obj.dataset.get(types = ["train"])[0].compute()
# Y = data_cl_obj.dataset.get(types = ["train"])[0]["SalePrice"].compute()
start = time.time()
model = RandomForestClassifier()
n = 50
rfe = RFE(estimator = model, n_features_to_select=n)
fit = rfe.fit(X, Y)
X = X[X.columns[fit.support_]]
X.head()
end = time.time()

In [29]:
X.head()

,Id,MSSubClass,LotFrontage,LotArea,LotShape,LotConfig,Neighborhood,Condition1,HouseStyle,OverallQual,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,ScreenPorch,Fence,MoSold,YrSold,SaleType,SalePrice
0,1.0,60.0,65.0,8450.0,0,0,0,0,0,7.0,...,548.0,0.0,61.0,0.0,0.0,0,2.0,2008.0,0,208500.0
1,2.0,20.0,80.0,9600.0,0,1,1,1,1,6.0,...,460.0,298.0,0.0,0.0,0.0,0,5.0,2007.0,0,181500.0
2,3.0,60.0,68.0,11250.0,1,0,0,0,0,7.0,...,608.0,0.0,42.0,0.0,0.0,0,9.0,2008.0,0,223500.0
3,4.0,70.0,60.0,9550.0,1,2,2,0,0,7.0,...,642.0,0.0,35.0,272.0,0.0,0,2.0,2006.0,0,140000.0
4,5.0,60.0,84.0,14260.0,1,1,3,0,0,8.0,...,836.0,192.0,84.0,0.0,0.0,0,12.0,2008.0,0,250000.0

In [30]:
import numpy as np
np_Y = np.asarray(Y)
np_X = np.asarray(X)

In [31]:
np_Y = np_Y.reshape(-1,1)
np_Y.shape

(1121, 1)

In [32]:
print("Time Taken = ", (end-start))

Time Taken =  79.81039500236511

In [33]:
# from sklearn.preprocessing import MinMaxScaler
# scaler_x = MinMaxScaler()
# scaler_x.fit(X)
# train_X_scaled = scaler_x.transform(X)

In [34]:
from sklearn.preprocessing import MinMaxScaler
scaler_x = MinMaxScaler()
scaler_x.fit(np_X)
train_X_scaled = scaler_x.transform(np_X)

scaler_y = MinMaxScaler()
scaler_y.fit(np_Y)
train_Y_scaled = scaler_y.transform(np_Y)

In [35]:
new_X = dd.from_array(train_X_scaled)

In [36]:
new_X.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.000000,0.235294,0.150685,0.033420,0.000000,0.00,0.000000,0.000,0.000000,0.625,...,0.308426,0.000000,0.111517,0.000000,0.0,0.0,0.090909,0.50,0.0,0.240644
1,0.000685,0.000000,0.202055,0.038795,0.000000,0.25,0.041667,0.125,0.142857,0.500,...,0.238474,0.347725,0.000000,0.000000,0.0,0.0,0.363636,0.25,0.0,0.203128
2,0.001371,0.235294,0.160959,0.046507,0.333333,0.00,0.000000,0.000,0.000000,0.625,...,0.356121,0.000000,0.076782,0.000000,0.0,0.0,0.727273,0.50,0.0,0.261487
3,0.002056,0.294118,0.133562,0.038561,0.333333,0.50,0.083333,0.000,0.000000,0.625,...,0.383148,0.000000,0.063985,0.492754,0.0,0.0,0.090909,0.00,0.0,0.145464
4,0.002742,0.235294,0.215753,0.060576,0.333333,0.25,0.125000,0.000,0.000000,0.750,...,0.537361,0.224037,0.153565,0.000000,0.0,0.0,1.000000,0.50,0.0,0.298308

In [37]:
total_data = np.append(train_X_scaled, train_Y_scaled, axis = 1)
from sklearn.model_selection import train_test_split
(train, test) = train_test_split(total_data, test_size=0.25, random_state=42)
X_train = train[:,:58]
y_train = train[:,-1]
X_test = test[:,:58]
y_test = test[:,-1]

In [38]:
y_train = y_train.reshape((y_train.shape[0],1))
y_test = y_test.reshape((y_test.shape[0],1))

In [39]:
X_train.shape

(840, 51)

In [ ]:
start = time.time()
# m = multiple.Multiple_Model_Gen_V3(X_train, y_train, X_test, y_test, 50, 64, input_shape = 51, 
#                                    max_no_layers = 3, model_per_batch = 10, 
#                                    save_dir = "/home/anish/ASC_ML_test_weights/")
# m.get_best_models(save = False)
# opt = model_opt.Model_Optimization(X_train, y_train, X_test, y_test, 200, m.evaluate_dict_list, save_dir = "/home/anish/ASC_ML_test_weights/candidate_models/")
# opt.optimize_models(save=True)
# stacked_models = model_stacking.Model_Stacking(X_train, y_train, X_test, y_test, opt.saved_paths, opt.model_confs, save_dir = "/home/anish/ASC_ML_test_weights/stacked_models/")
# stacked_models.optimize_stacked_models()
f = final.Final(X_train, y_train, X_test, y_test, 50, 64, input_shape = 51, 
                                   max_no_layers = 3, model_per_batch = 10, 
                                   save_dir = "/home/anish/ASC_ML_test_weights/")
f.get_all_best_models()

end = time.time()
print("Time Taken : ", (end-start))

2022-09-08 00:01:25.845538: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set
2022-09-08 00:01:25.847286: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcuda.so.1
2022-09-08 00:01:25.916805: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-09-08 00:01:25.917134: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 0 with properties:
pciBusID: 0000:01:00.0 name: NVIDIA GeForce RTX 2060 computeCapability: 7.5
coreClock: 1.695GHz coreCount: 30 deviceMemorySize: 5.79GiB deviceMemoryBandwidth: 312.97GiB/s
2022-09-08 00:01:25.917197: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
2022-09-08 00:01:25.919728: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublas.so.10
2022-09-08 00:01:25.919798: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublasLt.so.10
2022-09-08 00:01:25.921699: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcufft.so.10
2022-09-08 00:01:25.922088: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcurand.so.10
2022-09-08 00:01:25.924174: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusolver.so.10
2022-09-08 00:01:25.925050: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusparse.so.10
2022-09-08 00:01:25.929052: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudnn.so.7
2022-09-08 00:01:25.929184: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-09-08 00:01:25.929413: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-09-08 00:01:25.929539: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1862] Adding visible gpu devices: 0
2022-09-08 00:01:25.929873: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-09-08 00:01:25.930122: I tensorflow/compiler/jit/xla_gpu_device.cc:99] Not creating XLA devices, tf_xla_enable_xla_devices not set
2022-09-08 00:01:25.930226: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-09-08 00:01:25.930364: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 0 with properties:
pciBusID: 0000:01:00.0 name: NVIDIA GeForce RTX 2060 computeCapability: 7.5
coreClock: 1.695GHz coreCount: 30 deviceMemorySize: 5.79GiB deviceMemoryBandwidth: 312.97GiB/s
2022-09-08 00:01:25.930398: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
2022-09-08 00:01:25.930423: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublas.so.10
2022-09-08 00:01:25.930446: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublasLt.so.10
2022-09-08 00:01:25.930469: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcufft.so.10
2022-09-08 00:01:25.930491: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcurand.so.10
2022-09-08 00:01:25.930515: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusolver.so.10
2022-09-08 00:01:25.930539: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusparse.so.10
2022-09-08 00:01:25.930562: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudnn.so.7
2022-09-08 00:01:25.930630: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-09-08 00:01:25.930812: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-09-08 00:01:25.930941: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1862] Adding visible gpu devices: 0
2022-09-08 00:01:25.930983: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
2022-09-08 00:01:26.321023: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1261] Device interconnect StreamExecutor with strength 1 edge matrix:
2022-09-08 00:01:26.321048: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1267]      0
2022-09-08 00:01:26.321053: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1280] 0:   N
2022-09-08 00:01:26.321205: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-09-08 00:01:26.321361: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-09-08 00:01:26.321479: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-09-08 00:01:26.321570: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1406] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 5059 MB memory) -> physical GPU (device: 0, name: NVIDIA GeForce RTX 2060, pci bus id: 0000:01:00.0, compute capability: 7.5)
2022-09-08 00:01:26.551157: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)
2022-09-08 00:01:26.551556: I tensorflow/core/platform/profile_utils/cpu_utils.cc:112] CPU Frequency: 2899885000 Hz
2022-09-08 00:01:27.996428: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublas.so.10

loss  :  0.0796085074543953 , TEST :  0.1747775375843048
output_layer_dense_32_32_loss  :  0.009345349855720997 , TEST :  0.016955643892288208
output_layer_dense_32_64_loss  :  0.0104688024148345 , TEST :  0.018715886399149895
output_layer_dense_32_128_loss  :  0.007614535745233297 , TEST :  0.018087998032569885
output_layer_dense_32_256_loss  :  0.00878751091659069 , TEST :  0.018003208562731743
output_layer_dense_32_512_loss  :  0.007440795190632343 , TEST :  0.018543614074587822
output_layer_dense_32_1024_loss  :  0.008211552165448666 , TEST :  0.016072211787104607
output_layer_dense_64_32_loss  :  0.007366647478193045 , TEST :  0.01738058589398861
output_layer_dense_64_64_loss  :  0.007999608293175697 , TEST :  0.020363906398415565
output_layer_dense_64_128_loss  :  0.006461154669523239 , TEST :  0.015453074127435684
output_layer_dense_64_256_loss  :  0.0059125544503331184 , TEST :  0.015201414003968239




loss  :  0.08356492966413498 , TEST :  0.15585288405418396
output_layer_dense_64_512_loss  :  0.011731159873306751 , TEST :  0.01958869956433773
output_layer_dense_64_1024_loss  :  0.006865451578050852 , TEST :  0.016970433294773102
output_layer_dense_128_32_loss  :  0.006385614164173603 , TEST :  0.014475316740572453
output_layer_dense_128_64_loss  :  0.007699634879827499 , TEST :  0.01675347238779068
output_layer_dense_128_128_loss  :  0.008814733475446701 , TEST :  0.015985945239663124
output_layer_dense_128_256_loss  :  0.011229535564780235 , TEST :  0.017413010820746422
output_layer_dense_128_512_loss  :  0.007052769418805838 , TEST :  0.014879431575536728
output_layer_dense_128_1024_loss  :  0.009363183751702309 , TEST :  0.016587819904088974
output_layer_dense_256_32_loss  :  0.00393318198621273 , TEST :  0.00924588367342949
output_layer_dense_256_64_loss  :  0.010489671491086483 , TEST :  0.013952870853245258




loss  :  0.06915976107120514 , TEST :  0.1187620609998703
output_layer_dense_256_128_loss  :  0.009285446256399155 , TEST :  0.014437219128012657
output_layer_dense_256_256_loss  :  0.006060807500034571 , TEST :  0.014229041524231434
output_layer_dense_256_512_loss  :  0.007370712701231241 , TEST :  0.013818895444273949
output_layer_dense_256_1024_loss  :  0.007591710891574621 , TEST :  0.013193539343774319
output_layer_dense_512_32_loss  :  0.004084594547748566 , TEST :  0.008549141697585583
output_layer_dense_512_64_loss  :  0.003853143658488989 , TEST :  0.008548378944396973
output_layer_dense_512_128_loss  :  0.004822405520826578 , TEST :  0.009369570761919022
output_layer_dense_512_256_loss  :  0.010454549454152584 , TEST :  0.01308385469019413
output_layer_dense_512_512_loss  :  0.0039302450604736805 , TEST :  0.008908412419259548
output_layer_dense_512_1024_loss  :  0.011706140823662281 , TEST :  0.014624008908867836




loss  :  0.03080640733242035 , TEST :  0.05347684770822525
output_layer_dense_1024_32_loss  :  0.004202832002192736 , TEST :  0.006938827224075794
output_layer_dense_1024_64_loss  :  0.008214746601879597 , TEST :  0.011558503843843937
output_layer_dense_1024_128_loss  :  0.0038457352202385664 , TEST :  0.007238107267767191
output_layer_dense_1024_256_loss  :  0.004486672580242157 , TEST :  0.009222940541803837
output_layer_dense_1024_512_loss  :  0.006226641591638327 , TEST :  0.009662626311182976
output_layer_dense_1024_1024_loss  :  0.0038297781720757484 , TEST :  0.008855837397277355




loss  :  0.0870928168296814 , TEST :  0.18616275489330292
output_layer_dense_32_32_32_loss  :  0.00835205614566803 , TEST :  0.01762276142835617
output_layer_dense_32_32_64_loss  :  0.009410332888364792 , TEST :  0.020766984671354294
output_layer_dense_32_32_128_loss  :  0.009955881163477898 , TEST :  0.019473178312182426
output_layer_dense_32_32_256_loss  :  0.01073413249105215 , TEST :  0.020517002791166306
output_layer_dense_32_32_512_loss  :  0.007134122308343649 , TEST :  0.01650981605052948
output_layer_dense_32_32_1024_loss  :  0.00910785049200058 , TEST :  0.014892795123159885
output_layer_dense_32_64_32_loss  :  0.00936165638267994 , TEST :  0.019585750997066498
output_layer_dense_32_64_64_loss  :  0.0064730714075267315 , TEST :  0.019826430827379227
output_layer_dense_32_64_128_loss  :  0.007337396964430809 , TEST :  0.018830684944987297
output_layer_dense_32_64_256_loss  :  0.009226320311427116 , TEST :  0.018137365579605103




loss  :  0.09970545023679733 , TEST :  0.2059435248374939
output_layer_dense_32_64_512_loss  :  0.01336697768419981 , TEST :  0.022865300998091698
output_layer_dense_32_64_1024_loss  :  0.015818733721971512 , TEST :  0.021897388622164726
output_layer_dense_32_128_32_loss  :  0.008777457289397717 , TEST :  0.01894909143447876
output_layer_dense_32_128_64_loss  :  0.010272662155330181 , TEST :  0.020902719348669052
output_layer_dense_32_128_128_loss  :  0.012377025559544563 , TEST :  0.021464955061674118
output_layer_dense_32_128_256_loss  :  0.006937770638614893 , TEST :  0.019679566845297813
output_layer_dense_32_128_512_loss  :  0.008915653452277184 , TEST :  0.019799696281552315
output_layer_dense_32_128_1024_loss  :  0.009195942431688309 , TEST :  0.023214256390929222
output_layer_dense_32_256_32_loss  :  0.007186781615018845 , TEST :  0.018444079905748367
output_layer_dense_32_256_64_loss  :  0.006856465246528387 , TEST :  0.018726488575339317




loss  :  0.09302323311567307 , TEST :  0.1970488727092743
output_layer_dense_32_256_128_loss  :  0.010572588071227074 , TEST :  0.022343721240758896
output_layer_dense_32_256_256_loss  :  0.008501027710735798 , TEST :  0.01989453285932541
output_layer_dense_32_256_512_loss  :  0.007884320802986622 , TEST :  0.02021416649222374
output_layer_dense_32_256_1024_loss  :  0.012151471339166164 , TEST :  0.01945037953555584
output_layer_dense_32_512_32_loss  :  0.010154826566576958 , TEST :  0.01871451549232006
output_layer_dense_32_512_64_loss  :  0.006939823739230633 , TEST :  0.016766240820288658
output_layer_dense_32_512_128_loss  :  0.012493075802922249 , TEST :  0.02054738625884056
output_layer_dense_32_512_256_loss  :  0.0085861561819911 , TEST :  0.018313072621822357
output_layer_dense_32_512_512_loss  :  0.008198700845241547 , TEST :  0.020755834877490997
output_layer_dense_32_512_1024_loss  :  0.007541252300143242 , TEST :  0.02004900947213173




loss  :  0.0796099454164505 , TEST :  0.17575719952583313
output_layer_dense_32_1024_32_loss  :  0.008948897942900658 , TEST :  0.017964385449886322
output_layer_dense_32_1024_64_loss  :  0.006526598706841469 , TEST :  0.016455624252557755
output_layer_dense_32_1024_128_loss  :  0.008020658977329731 , TEST :  0.02018827386200428
output_layer_dense_32_1024_256_loss  :  0.0063201431185007095 , TEST :  0.015061015263199806
output_layer_dense_32_1024_512_loss  :  0.011807551607489586 , TEST :  0.02039310522377491
output_layer_dense_32_1024_1024_loss  :  0.009558412246406078 , TEST :  0.019028423354029655
output_layer_dense_64_32_32_loss  :  0.006285664159804583 , TEST :  0.013603932224214077
output_layer_dense_64_64_32_loss  :  0.008332817815244198 , TEST :  0.019324133172631264
output_layer_dense_64_64_64_loss  :  0.008266947232186794 , TEST :  0.016163427382707596
output_layer_dense_64_64_128_loss  :  0.005542248021811247 , TEST :  0.017574859783053398




loss  :  0.0889739841222763 , TEST :  0.18501915037631989
output_layer_dense_64_64_256_loss  :  0.012603936716914177 , TEST :  0.019444070756435394
output_layer_dense_64_64_512_loss  :  0.00792668480426073 , TEST :  0.017697501927614212
output_layer_dense_64_64_1024_loss  :  0.006739502772688866 , TEST :  0.019920742139220238
output_layer_dense_64_128_32_loss  :  0.014682750217616558 , TEST :  0.023632442578673363
output_layer_dense_64_128_64_loss  :  0.00844473484903574 , TEST :  0.019020166248083115
output_layer_dense_64_128_128_loss  :  0.010276640765368938 , TEST :  0.017586851492524147
output_layer_dense_64_128_256_loss  :  0.011031554080545902 , TEST :  0.018577050417661667
output_layer_dense_64_128_512_loss  :  0.006472745444625616 , TEST :  0.018837198615074158
output_layer_dense_64_128_1024_loss  :  0.005711482837796211 , TEST :  0.014135519973933697
output_layer_dense_64_256_32_loss  :  0.0050839525647461414 , TEST :  0.01616760343313217

loss  :  0.08370291441679001 , TEST :  0.18353743851184845
output_layer_dense_64_256_64_loss  :  0.012077492661774158 , TEST :  0.01945473626255989
output_layer_dense_64_256_128_loss  :  0.007012433838099241 , TEST :  0.01850683055818081
output_layer_dense_64_256_256_loss  :  0.012891602702438831 , TEST :  0.021974196657538414
output_layer_dense_64_256_512_loss  :  0.010754144750535488 , TEST :  0.019411642104387283
output_layer_dense_64_256_1024_loss  :  0.0058311899192631245 , TEST :  0.014276190660893917
output_layer_dense_64_512_32_loss  :  0.00521858548745513 , TEST :  0.0157313235104084
output_layer_dense_64_512_64_loss  :  0.007066431920975447 , TEST :  0.018878567963838577
output_layer_dense_64_512_128_loss  :  0.005876491777598858 , TEST :  0.017239386215806007
output_layer_dense_64_512_256_loss  :  0.005875939503312111 , TEST :  0.019561316817998886
output_layer_dense_64_512_512_loss  :  0.011098602786660194 , TEST :  0.01850324682891369




loss  :  0.061352454125881195 , TEST :  0.1489458531141281
output_layer_dense_64_512_1024_loss  :  0.006052221637219191 , TEST :  0.015646222978830338
output_layer_dense_64_1024_32_loss  :  0.00673210434615612 , TEST :  0.01697535812854767
output_layer_dense_64_1024_64_loss  :  0.004658922087401152 , TEST :  0.012943661771714687
output_layer_dense_64_1024_128_loss  :  0.006888483185321093 , TEST :  0.016766125336289406
output_layer_dense_64_1024_256_loss  :  0.010015364736318588 , TEST :  0.01637396030128002
output_layer_dense_64_1024_512_loss  :  0.004942302126437426 , TEST :  0.015902433544397354
output_layer_dense_64_1024_1024_loss  :  0.004735333379358053 , TEST :  0.013600376434624195
output_layer_dense_128_32_32_loss  :  0.004424013197422028 , TEST :  0.011790750548243523
output_layer_dense_128_64_32_loss  :  0.006219510454684496 , TEST :  0.014449416659772396
output_layer_dense_128_64_64_loss  :  0.0066841971129179 , TEST :  0.014497548341751099




loss  :  0.06593141704797745 , TEST :  0.14683353900909424
output_layer_dense_128_128_32_loss  :  0.008372621610760689 , TEST :  0.014953844249248505
output_layer_dense_128_128_64_loss  :  0.006520438939332962 , TEST :  0.01557957287877798
output_layer_dense_128_128_128_loss  :  0.008072533644735813 , TEST :  0.015736283734440804
output_layer_dense_128_128_256_loss  :  0.005608886945992708 , TEST :  0.014418471604585648
output_layer_dense_128_128_512_loss  :  0.007459066808223724 , TEST :  0.015887683257460594
output_layer_dense_128_128_1024_loss  :  0.00936899147927761 , TEST :  0.01539573259651661
output_layer_dense_128_256_32_loss  :  0.004396858625113964 , TEST :  0.011641718447208405
output_layer_dense_128_256_64_loss  :  0.005014309659600258 , TEST :  0.014942404814064503
output_layer_dense_128_256_128_loss  :  0.005056480411440134 , TEST :  0.013811154291033745
output_layer_dense_128_256_256_loss  :  0.006061227526515722 , TEST :  0.01446666568517685




loss  :  0.0800199881196022 , TEST :  0.1499090939760208
output_layer_dense_128_256_512_loss  :  0.004707490559667349 , TEST :  0.015410732477903366
output_layer_dense_128_256_1024_loss  :  0.007491527125239372 , TEST :  0.013005856424570084
output_layer_dense_128_512_32_loss  :  0.007885478436946869 , TEST :  0.014304127544164658
output_layer_dense_128_512_64_loss  :  0.00479181669652462 , TEST :  0.013262653723359108
output_layer_dense_128_512_128_loss  :  0.005055975168943405 , TEST :  0.012838918715715408
output_layer_dense_128_512_256_loss  :  0.01879836805164814 , TEST :  0.021312637254595757
output_layer_dense_128_512_512_loss  :  0.009551508352160454 , TEST :  0.013826942071318626
output_layer_dense_128_512_1024_loss  :  0.012894579209387302 , TEST :  0.021791450679302216
output_layer_dense_128_1024_32_loss  :  0.004598772618919611 , TEST :  0.012325754389166832
output_layer_dense_128_1024_64_loss  :  0.004244460724294186 , TEST :  0.011830022558569908




loss  :  0.058199524879455566 , TEST :  0.12746895849704742
output_layer_dense_128_1024_128_loss  :  0.005113285966217518 , TEST :  0.012911316938698292
output_layer_dense_128_1024_256_loss  :  0.00563860172405839 , TEST :  0.01279176864773035
output_layer_dense_128_1024_512_loss  :  0.007219528779387474 , TEST :  0.017916135489940643
output_layer_dense_128_1024_1024_loss  :  0.004483328200876713 , TEST :  0.013154732063412666
output_layer_dense_256_32_32_loss  :  0.005943145137280226 , TEST :  0.01042133942246437
output_layer_dense_256_64_32_loss  :  0.007354767993092537 , TEST :  0.013714690692722797
output_layer_dense_256_64_64_loss  :  0.006796620786190033 , TEST :  0.011647116392850876
output_layer_dense_256_128_32_loss  :  0.0043693301267921925 , TEST :  0.010773357935249805
output_layer_dense_256_128_64_loss  :  0.005215095821768045 , TEST :  0.012811364606022835
output_layer_dense_256_128_128_loss  :  0.006065821275115013 , TEST :  0.011327140964567661




loss  :  0.056587524712085724 , TEST :  0.12259748578071594
output_layer_dense_256_256_32_loss  :  0.008693458512425423 , TEST :  0.012084384448826313
output_layer_dense_256_256_64_loss  :  0.00512994360178709 , TEST :  0.011551841162145138
output_layer_dense_256_256_128_loss  :  0.005085311830043793 , TEST :  0.01149729173630476
output_layer_dense_256_256_256_loss  :  0.006645008455961943 , TEST :  0.012699281796813011
output_layer_dense_256_256_512_loss  :  0.006624762900173664 , TEST :  0.014002248644828796
output_layer_dense_256_256_1024_loss  :  0.004976320080459118 , TEST :  0.012949851341545582
output_layer_dense_256_512_32_loss  :  0.00398268410935998 , TEST :  0.011210431344807148
output_layer_dense_256_512_64_loss  :  0.003344118595123291 , TEST :  0.010781937278807163
output_layer_dense_256_512_128_loss  :  0.007258736528456211 , TEST :  0.012858030386269093
output_layer_dense_256_512_256_loss  :  0.0048471735790371895 , TEST :  0.012962198816239834




loss  :  0.06430691480636597 , TEST :  0.11596497893333435
output_layer_dense_256_512_512_loss  :  0.005961448885500431 , TEST :  0.011613823473453522
output_layer_dense_256_512_1024_loss  :  0.004493400454521179 , TEST :  0.010867209173738956
output_layer_dense_256_1024_32_loss  :  0.010379510931670666 , TEST :  0.013826247304677963
output_layer_dense_256_1024_64_loss  :  0.004207313526421785 , TEST :  0.01009691134095192
output_layer_dense_256_1024_128_loss  :  0.0042528980411589146 , TEST :  0.011451131664216518
output_layer_dense_256_1024_256_loss  :  0.004228666890412569 , TEST :  0.010209078900516033
output_layer_dense_256_1024_512_loss  :  0.009788860566914082 , TEST :  0.013039341196417809
output_layer_dense_256_1024_1024_loss  :  0.004993751645088196 , TEST :  0.010727941989898682
output_layer_dense_512_32_32_loss  :  0.008947700262069702 , TEST :  0.012557931244373322
output_layer_dense_512_64_32_loss  :  0.007053357549011707 , TEST :  0.01157535519450903




loss  :  0.05825015529990196 , TEST :  0.10308948904275894
output_layer_dense_512_64_64_loss  :  0.005928918719291687 , TEST :  0.010153336450457573
output_layer_dense_512_128_32_loss  :  0.003674655221402645 , TEST :  0.008813357912003994
output_layer_dense_512_128_64_loss  :  0.008540641516447067 , TEST :  0.012935337610542774
output_layer_dense_512_128_128_loss  :  0.0037498977035284042 , TEST :  0.009692968800663948
output_layer_dense_512_256_32_loss  :  0.0035804915241897106 , TEST :  0.008810807019472122
output_layer_dense_512_256_64_loss  :  0.005189267918467522 , TEST :  0.010080510750412941
output_layer_dense_512_256_128_loss  :  0.00445269700139761 , TEST :  0.008695550262928009
output_layer_dense_512_256_256_loss  :  0.007584388833492994 , TEST :  0.01050687674432993
output_layer_dense_512_512_32_loss  :  0.0035949647426605225 , TEST :  0.008484509773552418
output_layer_dense_512_512_64_loss  :  0.011954226531088352 , TEST :  0.014916226267814636




loss  :  0.07093855738639832 , TEST :  0.11499731987714767
output_layer_dense_512_512_128_loss  :  0.00441752327606082 , TEST :  0.009926077909767628
output_layer_dense_512_512_256_loss  :  0.007581557147204876 , TEST :  0.011918784119188786
output_layer_dense_512_512_512_loss  :  0.006344085093587637 , TEST :  0.01223661843687296
output_layer_dense_512_512_1024_loss  :  0.003896887879818678 , TEST :  0.009450341574847698
output_layer_dense_512_1024_32_loss  :  0.00889657437801361 , TEST :  0.012879345566034317
output_layer_dense_512_1024_64_loss  :  0.004111798480153084 , TEST :  0.008416925556957722
output_layer_dense_512_1024_128_loss  :  0.008480759337544441 , TEST :  0.012629271484911442
output_layer_dense_512_1024_256_loss  :  0.00813972856849432 , TEST :  0.013026298023760319
output_layer_dense_512_1024_512_loss  :  0.011607078835368156 , TEST :  0.01306096464395523
output_layer_dense_512_1024_1024_loss  :  0.007462561596184969 , TEST :  0.01145268976688385

loss  :  0.06753197312355042 , TEST :  0.09517157822847366
output_layer_dense_1024_32_32_loss  :  0.00531650660559535 , TEST :  0.009344001300632954
output_layer_dense_1024_64_32_loss  :  0.003132834332063794 , TEST :  0.006260573863983154
output_layer_dense_1024_64_64_loss  :  0.003763905493542552 , TEST :  0.006910009775310755
output_layer_dense_1024_128_32_loss  :  0.011715373955667019 , TEST :  0.013765119947493076
output_layer_dense_1024_128_64_loss  :  0.008857171051204205 , TEST :  0.0114750349894166
output_layer_dense_1024_128_128_loss  :  0.007946559228003025 , TEST :  0.010291540995240211
output_layer_dense_1024_256_32_loss  :  0.005541261751204729 , TEST :  0.008472610265016556
output_layer_dense_1024_256_64_loss  :  0.0051927147433161736 , TEST :  0.009174226783216
output_layer_dense_1024_256_128_loss  :  0.007867391221225262 , TEST :  0.009633073583245277
output_layer_dense_1024_256_256_loss  :  0.00819826778024435 , TEST :  0.009845389984548092




loss  :  0.06325677782297134 , TEST :  0.09993135184049606
output_layer_dense_1024_512_32_loss  :  0.005026019178330898 , TEST :  0.008700871840119362
output_layer_dense_1024_512_64_loss  :  0.003556612879037857 , TEST :  0.00766991451382637
output_layer_dense_1024_512_128_loss  :  0.009044897742569447 , TEST :  0.012890755198895931
output_layer_dense_1024_512_256_loss  :  0.004080978222191334 , TEST :  0.008031570352613926
output_layer_dense_1024_512_512_loss  :  0.0035938064102083445 , TEST :  0.007912472821772099
output_layer_dense_1024_1024_32_loss  :  0.004209068138152361 , TEST :  0.007641704753041267
output_layer_dense_1024_1024_64_loss  :  0.0063886987045407295 , TEST :  0.00941532477736473
output_layer_dense_1024_1024_128_loss  :  0.01028526946902275 , TEST :  0.012919478118419647
output_layer_dense_1024_1024_256_loss  :  0.008846576325595379 , TEST :  0.011691552586853504
output_layer_dense_1024_1024_512_loss  :  0.008224857039749622 , TEST :  0.013057715259492397




loss  :  0.006159257143735886 , TEST :  0.011690506711602211

-------------------------------------------------------------------------------
[{'model_name': 'dense_1024_64_32', 'score': 0.006260573863983154, 'path_weights': '/home/anish/ASC_ML_test_weights/dense_1024_64_32', 'model_conf': ['', 51, 3, 'relu', {'layer1': 1024, 'layer2': 64, 'layer3': 32}, [1, None]], 'model': <tensorflow.python.keras.engine.functional.Functional object at 0x7f9fc5449040>}, {'model_name': 'dense_1024_64_64', 'score': 0.006910009775310755, 'path_weights': '/home/anish/ASC_ML_test_weights/dense_1024_64_64', 'model_conf': ['', 51, 3, 'relu', {'layer1': 1024, 'layer2': 64, 'layer3': 64}, [1, None]], 'model': <tensorflow.python.keras.engine.functional.Functional object at 0x7f9fc5373610>}, {'model_name': 'dense_1024_32', 'score': 0.006938827224075794, 'path_weights': '/home/anish/ASC_ML_test_weights/dense_1024_32', 'model_conf': ['', 51, 2, 'relu', {'layer1': 1024, 'layer2': 32}, [1, None]], 'model': <tensorflow.python.keras.engine.functional.Functional object at 0x7f9fc427a9a0>}, {'model_name': 'dense_1024_128', 'score': 0.007238107267767191, 'path_weights': '/home/anish/ASC_ML_test_weights/dense_1024_128', 'model_conf': ['', 51, 2, 'relu', {'layer1': 1024, 'layer2': 128}, [1, None]], 'model': <tensorflow.python.keras.engine.functional.Functional object at 0x7f9fc4263670>}, {'model_name': 'dense_1024_1024_32', 'score': 0.007641704753041267, 'path_weights': '/home/anish/ASC_ML_test_weights/dense_1024_1024_32', 'model_conf': ['', 51, 3, 'relu', {'layer1': 1024, 'layer2': 1024, 'layer3': 32}, [1, None]], 'model': <tensorflow.python.keras.engine.functional.Functional object at 0x7f9fc543f370>}, {'model_name': 'dense_1024_512_64', 'score': 0.00766991451382637, 'path_weights': '/home/anish/ASC_ML_test_weights/dense_1024_512_64', 'model_conf': ['', 51, 3, 'relu', {'layer1': 1024, 'layer2': 512, 'layer3': 64}, [1, None]], 'model': <tensorflow.python.keras.engine.functional.Functional object at 0x7f9fc63eec70>}, {'model_name': 'dense_1024_512_512', 'score': 0.007912472821772099, 'path_weights': '/home/anish/ASC_ML_test_weights/dense_1024_512_512', 'model_conf': ['', 51, 3, 'relu', {'layer1': 1024, 'layer2': 512, 'layer3': 512}, [1, None]], 'model': <tensorflow.python.keras.engine.functional.Functional object at 0x7fa00632b4c0>}, {'model_name': 'dense_1024_512_256', 'score': 0.008031570352613926, 'path_weights': '/home/anish/ASC_ML_test_weights/dense_1024_512_256', 'model_conf': ['', 51, 3, 'relu', {'layer1': 1024, 'layer2': 512, 'layer3': 256}, [1, None]], 'model': <tensorflow.python.keras.engine.functional.Functional object at 0x7fa006442e50>}, {'model_name': 'dense_512_1024_64', 'score': 0.008416925556957722, 'path_weights': '/home/anish/ASC_ML_test_weights/dense_512_1024_64', 'model_conf': ['', 51, 3, 'relu', {'layer1': 512, 'layer2': 1024, 'layer3': 64}, [1, None]], 'model': <tensorflow.python.keras.engine.functional.Functional object at 0x7f9fc39db790>}, {'model_name': 'dense_1024_256_32', 'score': 0.008472610265016556, 'path_weights': '/home/anish/ASC_ML_test_weights/dense_1024_256_32', 'model_conf': ['', 51, 3, 'relu', {'layer1': 1024, 'layer2': 256, 'layer3': 32}, [1, None]], 'model': <tensorflow.python.keras.engine.functional.Functional object at 0x7f9fc5373ee0>}]

-------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Model Name : dense_1024_64_32

BEST HYPERPARAMETERS : BEST_LOSS : 0.008118974044919014, BEST_ACTIVATION : selu, BEST_INITIALIZER : LecunNormal, BEST_LEARINING_RATE : 0.0001, BEST_BATCHSIZE : 32




loss  :  0.010535480454564095 , TEST :  0.014217075891792774

2022-09-08 00:04:29.183609: W tensorflow/python/util/util.cc:348] Sets are not currently considered sequences, but this may change in the future, so consider avoiding using them.

INFO:tensorflow:Assets written to: /home/anish/ASC_ML_test_weights/candidate_models/dense_1024_64_32/assets
--------------------------------------------------------------------------------
Model Name : dense_1024_64_64

BEST HYPERPARAMETERS : BEST_LOSS : 0.011227564886212349, BEST_ACTIVATION : selu, BEST_INITIALIZER : LecunNormal, BEST_LEARINING_RATE : 0.00013, BEST_BATCHSIZE : 64




loss  :  0.020252225920557976 , TEST :  0.02266616001725197
INFO:tensorflow:Assets written to: /home/anish/ASC_ML_test_weights/candidate_models/dense_1024_64_64/assets
--------------------------------------------------------------------------------
Model Name : dense_1024_32