In [3]:
import sys
import time
sys.path.insert(0, '/home/anish/AutoNN')

In [4]:
from ASC_ML.preprocessing import data_cleaning as dc
import dask.dataframe as dd

ModuleNotFoundError: No module named 'dask'

In [3]:
df = dd.read_csv("/home/anish/Downloads/diabetes.csv", assume_missing=True)

In [4]:
df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50.0,yes
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31.0,no
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32.0,yes
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,no
4,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33.0,yes

In [5]:
df = df.dropna()
df = df.reset_index(drop=True)

In [6]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,no
1,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0,yes
2,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53.0,yes
3,1.0,189.0,60.0,23.0,846.0,30.1,0.398,59.0,yes
4,5.0,166.0,72.0,19.0,175.0,25.8,0.587,51.0,yes

In [7]:
data_cl = dc.DataCleaning(train_dataframe=df, label=['Outcome'])

In [8]:
data_cl.dataset.get()[0].head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,no
1,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0,yes
2,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53.0,yes
3,1.0,189.0,60.0,23.0,846.0,30.1,0.398,59.0,yes
4,5.0,166.0,72.0,19.0,175.0,25.8,0.587,51.0,yes

In [9]:
data_cl.col_info

{'Pregnancies': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 16},
 'Glucose': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 111},
 'BloodPressure': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 36},
 'SkinThickness': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 45},
 'Insulin': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 168},
 'BMI': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 175},
 'DiabetesPedigreeFunction': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 289},
 'Age': {'dtype': dtype('float64'),
  'is_label': False,
  'missing': 0.0,
  'cardinality': 43},
 'Outcome': {'dtype': dtype('O'),
  'is_label': True,
  'missing': 0.0,
  'cardinality': 2}}

In [10]:
data_cl.encode()

In [11]:
data_cl.dataset.get()[0].head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0
1,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0,1
2,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53.0,1
3,1.0,189.0,60.0,23.0,846.0,30.1,0.398,59.0,1
4,5.0,166.0,72.0,19.0,175.0,25.8,0.587,51.0,1

In [12]:
from sklearn.preprocessing import MinMaxScaler

In [13]:
scaler_x = MinMaxScaler()
scaler_x.fit(data_cl.dataset.get()[0])
scaled_np_arr = scaler_x.transform(data_cl.dataset.get()[0])

In [14]:
scaled_np_arr

array([[0.        , 0.23404255, 0.48837209, ..., 0.03654189, 0.        ,
        0.        ],
       [0.125     , 0.15602837, 0.30232558, ..., 0.07263815, 0.08333333,
        1.        ],
       [0.0625    , 1.        , 0.53488372, ..., 0.03253119, 0.53333333,
        1.        ],
       ...,
       [0.0625    , 0.22695035, 0.39534884, ..., 0.30347594, 0.01666667,
        0.        ],
       [0.5625    , 0.31914894, 0.60465116, ..., 0.03832442, 0.7       ,
        0.        ],
       [0.25      , 0.46099291, 0.55813953, ..., 0.07130125, 0.15      ,
        0.        ]])

In [15]:
import numpy as np

In [16]:
from ASC_ML.networkbuilding import final

In [17]:
data_cl.dataset.train_test_split()

In [18]:
[traindf, testdf] = data_cl.dataset.get(types=['train', 'test'])

In [19]:
traindf.compute()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
161,3.0,173.0,82.0,48.0,465.0,38.4,2.137,25.0,1
29,4.0,129.0,86.0,20.0,270.0,35.1,0.231,23.0,0
172,3.0,100.0,68.0,23.0,81.0,31.6,0.949,28.0,0
106,2.0,90.0,80.0,14.0,55.0,24.4,0.249,24.0,0
56,3.0,170.0,64.0,37.0,225.0,34.5,0.356,30.0,1
...,...,...,...,...,...,...,...,...,...
96,1.0,87.0,78.0,27.0,32.0,34.6,0.101,22.0,0
57,2.0,96.0,68.0,13.0,49.0,21.1,0.647,26.0,0
279,1.0,167.0,74.0,17.0,144.0,23.4,0.447,33.0,1
288,3.0,80.0,82.0,31.0,70.0,34.2,1.292,27.0,1
4,5.0,166.0,72.0,19.0,175.0,25.8,0.587,51.0,1

In [20]:
y_train = traindf.pop(data_cl.get_label()[0])
X_train = traindf

In [21]:
y_test = testdf.pop(data_cl.get_label()[0])
X_test = testdf

In [22]:
testdf.compute().shape

(73, 8)

In [23]:
scaler_x = MinMaxScaler()
scaler_x.fit(X_train)
X_train = scaler_x.transform(X_train)
X_test = scaler_x.transform(X_test)

In [24]:
y_train = np.asarray(y_train).reshape([-1, 1])
y_test = np.asarray(y_test).reshape([-1, 1])

In [25]:
y_train.shape

(263, 1)

In [26]:
# f = final.Final(X_train, y_train, X_test, y_test, 50, 64, input_shape = 8, 
#                                    max_no_layers = 3, model_per_batch = 10)
# f.get_all_best_models()

In [27]:
from tensorflow.keras.models import load_model

In [28]:
model = load_model("C:\\home\\anish\\ASC_ML_test_weights\\candidate_models\\dense_64_32_32")

In [29]:
model.summary()

Model: "dense_64_32_32"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_layer_dense_64_32_32   [(None, 8)]              0
 (InputLayer)

 layer1_dense_64_32_32 (Dens  (None, 64)               576
 e)

 layer2_dense_64_32_32 (Dens  (None, 32)               2080
 e)

 layer3_dense_64_32_32 (Dens  (None, 32)               1056
 e)

 output_layer_dense_64_32_32  (None, 1)                33
  (Dense)

=================================================================
Total params: 3,745
Trainable params: 3,745
Non-trainable params: 0
_________________________________________________________________

In [30]:
model.history

In [31]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [32]:
model.evaluate(X_train, y_train)

9/9 [==============================] - 0s 2ms/step - loss: 0.4994 - accuracy: 0.7833

[0.49941202998161316, 0.7832699418067932]

In [33]:
model.evaluate(X_test, y_test)

3/3 [==============================] - 0s 3ms/step - loss: 0.5366 - accuracy: 0.8219

[0.5365504622459412, 0.8219178318977356]